{% extends 'base.html' %}
{% block title %}Q MAGAZINE{% endblock title %}

{% block content %}
<br/>
{% for article in object_list %}
<div class="jumbotron">
<div class="card text-white bg-dark mb-3">
<div class="card-header">
<span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></span> &middot;
<span class="text-muted">by {{ article.author }} |
{{ article.date }}</span>
</div>
<div class="card-body">
{{ article.text|safe }}
</div>
<div class="card-footer text-center text-muted">
{% if user == article.author %}
<a type="button" class="btn btn-primary" href="{% url 'article_edit' article.pk %}">Edit</a> | <a type="button" class="btn btn-primary" href="{% url 'article_delete' article.pk %}">Delete</a>
{% else %}
<a type="button" class="btn btn-primary" disabled>Edit</a> | <a type="button" class="btn btn-primary" disabled>Delete</a>
{% endif %}
</div>
</div>
<br />
</div>
{% endfor %}
{% endblock content %}